<div class="row">
    <div class="col-md-8">
      <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <div class="avatar">
           <%= image_tag avatar_url, class: 'media-object' %>
           </div>
         </div>
       <% end %>
        <div class="media-body">
            <h2 class="media-heading"><%= @user.username %></h2>
            <h5 class="media-heading">Email: <%= @user.email %></h5>
            <h3>To Do Items</h3>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Complete</th>
                    <th>Time Remaining</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class='js-items'>
                  <%= render @user.items %>
                  </tr>
                </tbody>
            </table>
            <br>
            <br>
            <% if current_user %>
                 <%= render 'items/form', item: Item.new, user: @user %>
            <% end %>
        </div>
      </div>
    </div>
  </div>